<ion-view view-title='New meal (2/3)'>

<ion-content>

<div class="list">
  <h2 class='padding'>How much are you cooking?</h2>

  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">How many meals?</span>
      <input type="tel" ng-model="formData.numberOfMeals">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">How much per meal?</span>
      <input type="tel" ng-model="formData.costPerMeal">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">How much in total?</span>
      <input type="tel" ng-model="formData.totalCost">
    </label>
  </div>

  <a class="button button-full icon-right ion-chevron-right button-energized" ng-click="navToStep3()">When and where?</a>
</div>


</ion-content>



</ion-view>