<ion-view view-title='New meal (3/3)'>

<ion-content>

<div class="list">
  <h2 class='padding'>When and where?</h2>

  <label class="item item-input item-stacked-label">
    <span class='input-label'>When will food be served?</span>
    <input type="time" ng-model="formData.whenServed">
  </label>

  <label class="item item-input item-stacked-label">
    <span class='input-label'>Where should guests come to?</span>
    <input type="text" ng-model="formData.location" placeholder="e.g. 501 Gumal">
  </label>
</div>

<!-- Senecha -->
<a class="button button-full icon-right button-energized" style="margin-top:3em" ng-click="submitForm()">Post meal invite!</a>

</ion-content>
</ion-view>