<ion-view view-title="Eating!">
<ion-content>


<ion-refresher
on-refresh="doRefresh()">
</ion-refresher>

<div class="item hero" ng-style="{'background-image':'url('+meal.image+')'}">
  <h3>{{meal.name}} (<i class='ion-icon ion-social-usd'></i>{{ meal.price }})</h3>

  <div class='controls'>

    <span style='margin-right:0.5rem'><i class="ion-icon ion-ios-clock"></i> <time am-time-ago="meal.servedAt"></time> @ {{meal.servedAtFormatted}}</span>
    <span><i class="ion-icon ion-location"></i> {{meal.address}}<!-- - 3.5km --></span>

  </div>
</div>




<div class="list">
  <a class="item item-icon-left" ng-click="chooseEatingStatus()">
    <i class="icon ion-mic-a"></i>
    Your status
    <span class="item-note">
      {{ meal.eatingStatus }}
    </span>
  </a>


  <div class="item item-divider">
    <i class='ion-icon ion-ios-people'></i> Dinner for {{ meal.numberOfGuestsInWords }} with:
  </div>


  <div class="item item-avatar" ng-click="showPersonDetail(meal.chef)">
    <img ng-src="{{ meal.chef.avatarUrl }}">
    <h2><span class='label primary'>Host</span> {{ meal.chef.name }}</h2>
    <p>{{ meal.chef.tagline }}</p>
  </div>

  <div class="item item-avatar" ng-repeat="guest in meal.guests" ng-click="showPersonDetail(guest)">
    <img ng-src="{{ guest.avatarUrl }}">
    <h2>{{ guest.name }}</h2>
    <p>{{ guest.tagline }}</p>
    <p ng-if='!guest.tagline'>no tagline!</p>
  </div>

</div>


<button class="button button-full button-assertive icon ion-icon ion-close-circled" ng-click="confirmCancelMeal()">
  Cancel meal with others
</button>


</ion-content>
</ion-view>