<ion-view view-title="Your meal!">
<ion-nav-buttons side="secondary">
      <button class="button positive" ng-click="share()">Invite</button>
      <button class="button positive" ng-click="joinMeal()">Join meal</button>
    </ion-nav-buttons>

  <ion-content>

    <ion-refresher
      on-refresh="doRefresh()">
    </ion-refresher>


        <div class="row">
            <div class="col col-67">
              <h2>{{ meal.name }}</h2>
            </div>
            <div class="col" style="">
              <h3><i class='ion-icon ion-social-usd'></i> {{ meal.price }}</h3>
              <h3><i class='ion-icon ion-ios-clock'></i> {{ meal.servedAt | dateAsRounded }}</h3>
            </div>
          </div>

          <div class="item item-image">
            <img ng-src="{{ meal.image }}">
          </div>


          <div class="item item-avatar item-text-wrap">
            <img ng-src="{{ meal.chef.avatarUrl }}" />
                <h2><span class="subdued">Chef</span> {{ meal.chef.name }}</h2>

                <p>
                  <a href="#" class="subdued">{{ meal.chef.location }}</a>
                  <a href="#" class="subdued">{{ meal.guests.length }} guests</a>
                </p>
          </div>


  </ion-content>
</ion-view>
