<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view hide-nav-bar=true class="view-welcome">
  <ion-content class="welcome-background">
    <div class="welcome-banner padding">
      <header>
        <h1 ng-click="loginAsTesting()">Flatcook.</h1>
        <p>Eat together. <i class="icon ion-ios-people"></i></p>
      </header>

      <button class="button button-block button-positive" ng-click="login()">
      Join with Facebook
    </button>

    <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Agreed
  </li>

    </div> 

  </ion-content>
</ion-view>
