<ion-view view-title="How was your meal?">
    <ion-content>

      <div class="list">
        <h2 class='padding'>How was the meal that {{ meal.chef.name }} cooked <time>{{ rating.date | dateAsDaysAgo }}</time>?</h2>

        <rating ng-model="rating.howWasMeal.rating" max="5" ng-click='rate()'></rating>

		<div ng-show="rating.howWasMeal.rating < 4" class='padding'>
			<h4 class='title'>What was wrong? <emoji name='disappointed'></emoji></h4>

	        <label class="item item-input">
	          <textarea rows=6 placeholder="We personally listen and reply to every complaint." ng-model="rating.whatWentWrongWithMeal"></textarea>
	        </label>

			<a class="button button-full icon-right ion-chevron-right button-energized" ng-click="chooseExperience()">Next</a>
		</div>

      </div>

    </ion-content>
</ion-view>