<ion-view view-title="How was your meal?">
<ion-content>

<div class="list">
  <center>
    <h2 class='padding'>
    <i class='ion-icon ion-ios-people'></i> 
    Was everyone cool?</h2>
  </center>

  <ion-list>
    <ion-radio ng-model="rating.wasEveryoneCool.cool" ng-value="true" class='' icon="">Yes</ion-radio>
    <ion-radio ng-model="rating.wasEveryoneCool.cool" ng-value="false" class='' icon="">I had issues...</ion-radio>
  </ion-list>

  <div ng-show="rating.wasEveryoneCool.cool === false" class='padding fadein'>
    <center><h4 class='title'>What went wrong? <emoji name='disappointed'></emoji></h4></center>

    <label class="item item-input">
      <textarea rows=6 placeholder="We personally listen and reply to every complaint." ng-model="rating.wasEveryoneCool.description"></textarea>
    </label>


    <center><h4 class='title'>Anyone in particular?</h4></center>
    <p class='padding'>We use these ratings to ensure you only ever have a positive experience with Flatcook!</p>

    <ion-list>
      <ion-checkbox ng-repeat="guest in rating.wasEveryoneCool.people" ng-model="guest.marked">{{ guest.name }}</ion-checkbox>
    </ion-list>
  </div>

    <button ng-disabled='!(rating.wasEveryoneCool.cool === true || rating.wasEveryoneCool.description.length > 10)' class="button button-block button-neutral icon ion-paper-airplane" ng-click='send()'>
      Send
    </button>


</div>



</div>

<!--       <section ng-show="rating.experience == 'Bad'">
        <h2 class=''>What happened? <emoji name='disappointed'></emoji></h2>

        <label class="item item-input">
          <textarea rows=10 placeholder="We personally listen and reply to every complaint." ng-model="rating.whatHappened"></textarea>
        </label>
        

        <h3 class='padding' style='padding-bottom:0em'>Was it anyone in particular?</h3>
        <p class='padding'>We use these ratings to ensure you only ever have a positive experience with Flatcook!</p>

        <ion-list>
          <ion-checkbox ng-repeat="guest in rating.people" ng-model="guest.marked">{{ guest.name }}</ion-checkbox>
        </ion-list>
      </section>

      <section ng-show="rating.experience == 'Good'">
        <h2 class='padding'>Do you have any suggestions to make it better? <emoji name='smile'></emoji></h2>
        <label class="item item-input">
        <textarea rows=10 placeholder="We read all of these!" ng-model="rating.whatHappened"></textarea>
        </label>
      </section>

      <section ng-show="rating.experience == 'Excellent'">
        <h2 class='padding'>Anything in particular you liked about Flatcook? <emoji name='smile'></emoji></h2>
        <label class="item item-input">
        <textarea rows=10 placeholder=" - lovely guests with funny stories" ng-model="rating.whatHappened"></textarea>
        </label>
      </section> -->



    </ion-content>
  </ion-view>