<!-- 
What do guests and chefs want to know when they are going to eat somewhere?

- that their chef is someone they know or a mutual friend
- intitial starting details for conversation
- what their guests and personalities are like


The reputation system filters out bad experiences
The search system finds people who you will have a good experience with
the baseline is a nice meal with polite/friendly guests

Chefs should be reviewed? Probably. But let's see.

 -->

<ion-view view-title="How was your meal?">
    <ion-content>

      <div class="list">
        <h3 class='padding'>How was your meal <time>{{ rating.date | dateAsDaysAgo }}</time> with {{ rating.peopleInvolved }}?</h3>

        <ion-list>
          <ion-radio ng-repeat="option in experienceOptions" ng-model="rating.experience" ng-value="option" ng-click="chooseExperience()">{{ option }}</ion-radio>
        </ion-list>

      </div>

    </ion-content>
</ion-view>