<ion-view view-title="Eat">
  <ion-content>
    
    <h2 class="item ">
    Meals near you!
    </h2>

    <div ng-show="loadingMealOffers">
    	
    </div>

    <ion-list>
  	

  		<div class="list card">

<div class="row nopad">
  <div class="col col-75 ">
    <h2>Spaghetti Bolognaise</h2>
  </div>
  <div class="col " style="">
    <h3>$5.3</h3>
    <h3>3pm</h3>
  </div>
</div>


  <div class="item item-image">
    <img src="img/example-spagbol.jpg">
  </div>


  <div class="item item-avatar">
    <h2><span class="subdued">Chef</span> Liam</h2>
    <p>Flat 501.</p>
  </div>

  <div class="item item-body">
    <p>
      <a href="#" class="subdued">3 guests</a>
      <a href="#" class="subdued">Very close</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Join meal!
    </a>
  </div>

</div>




<div class="list card">

<div class="row nopad">
  <div class="col col-75 ">
    <h2>Spaghetti Bolognaise</h2>
  </div>
  <div class="col " style="">
    <h3>$5.3</h3>
    <h3>3pm</h3>
  </div>
</div>


  <div class="item item-image">
    <img src="img/example-spagbol.jpg">
  </div>


  <div class="item item-avatar">
    <h2><span class="subdued">Chef</span> Liam</h2>
    <p>Flat 501.</p>
  </div>

  <div class="item item-body">
    <p>
      <a href="#" class="subdued">3 guests</a>
      <a href="#" class="subdued">Very close</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Join meal!
    </a>
  </div>

</div>

<div class="list card">

<div class="row nopad">
  <div class="col col-75 ">
    <h2>Spaghetti Bolognaise</h2>
  </div>
  <div class="col " style="">
    <h3>$5.3</h3>
    <h3>3pm</h3>
  </div>
</div>


  <div class="item item-image">
    <img src="img/example-spagbol.jpg">
  </div>


  <div class="item item-avatar">
    <h2><span class="subdued">Chef</span> Liam</h2>
    <p>Flat 501.</p>
  </div>

  <div class="item item-body">
    <p>
      <a href="#" class="subdued">3 guests</a>
      <a href="#" class="subdued">Very close</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Join meal!
    </a>
  </div>

</div>

<div class="list card">

<div class="row nopad">
  <div class="col col-75 ">
    <h2>Spaghetti Bolognaise</h2>
  </div>
  <div class="col " style="">
    <h3>$5.3</h3>
    <h3>3pm</h3>
  </div>
</div>


  <div class="item item-image">
    <img src="img/example-spagbol.jpg">
  </div>


  <div class="item item-avatar">
    <h2><span class="subdued">Chef</span> Liam</h2>
    <p>Flat 501.</p>
  </div>

  <div class="item item-body">
    <p>
      <a href="#" class="subdued">3 guests</a>
      <a href="#" class="subdued">Very close</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Join meal!
    </a>
  </div>

</div>


	</ion-list>

  </ion-content>
</ion-view>
