<ion-view view-title="My profile">
<ion-nav-buttons side="secondary">
      <button class="button" ng-click="signOut()">Sign out</button>
    </ion-nav-buttons>

  <ion-content class="padding">


    <ion-list>


<!-- Profile picture -->

  <div id="profile-info">
          <img id="profile-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">

          <h3 id="profile-name">Max</h3>

          <span id="profile-description">Flat 501</span>

        </div>

  <ion-item class='item-input'>
    <span class="input-label">What's your name?</span>
    <input type="text">
  </ion-item>

  <div class="item item-divider">
    Payment details
  </div>

  <ion-item class="button button-block button-positive">
  Select payment method
</ion-item>

    <div class="item item-button-right">
        Balance: $10
        <button class="button button-positive">
          Top up
        </button>
      </div>
  </ion-item>
<!-- Name 
  <label class="item item-input">
    
  </label>-->

<!--
  <label class="item item-input">
    <span class="input-label">Where do you live?</span>
    <input type="text">
  </label>
-->


</ion-list>

  </ion-content>
</ion-view>
