<div class="modal" ng-controller='ChefRatingModalCtrl'>
    <ion-header-bar>
      <h1 class="title"></h1>
    </ion-header-bar>
   
    <ion-content>

      <div class="list">
      <!-- | amLocal | amStartOf:'day' | amTimeAgo -->
        <h3>How was your meal <time>{{ rating.meal.date | dateAsDaysAgo }}</time> with {{rating.meal.peopleInvolved}}?</h3>

        <a class="item item-icon-left" ng-click="open()">
          {{ rating.experience }} 
          <i class='ion-icon ion-icon-caret-right'>
        </a>

        <section ng-show="rating.experience == 'Bad'">
          <textarea placeholder="What happened?" ng-model="rating.whatHappened"></textarea>
          <small>We will listen to and read every complaint to make sure this never happens again.</small>

          <h3>Was it anyone in particular</h3>
          {meal.guests}
        </section>

        <section ng-show="rating.experience == 'Good'">
          <textarea placeholder="Have any suggestions to make it better...?"></textarea>
        </section>

        <section ng-show="rating.experience == 'Excellent'">
          <textarea placeholder="Have any feedback/ideas...?"></textarea>
        </section>
      </div>

    </ion-content>
  </div>