<div class="modal">
    <ion-header-bar>
      <h1 class="title">Update status</h1>

      <button class="button button-right button-energized" ng-click="$this.close()">Done</button>
    </ion-header-bar>
    <ion-content>
      
    <div class="list">

      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          Chilling out
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          On my way
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

    </div>


    </ion-content>
  </div>