/*https://css-tricks.com/design-considerations-text-images/*/
/*https://medium.com/@erikdkennedy/7-rules-for-creating-gorgeous-ui-part-2-430de537ba96#.ecnfpwqi4*/

.statusGradient {
  background-image: url(/img/statusGradient.png);
  height: initial!important;
}

timer {
  display: inline-block;
}

.cancel-meal-button {
  margin-top: 1em;
}



.cooking-hero {
  height: 300px;
  background-size: cover;
  line-height: 1.4;
  vertical-align: middle;
}

.cooking-hero > h3,
.cooking-hero > h1 {
  text-align: left;
  background-color: black;
  color: #fff;
  opacity: 0.9;
  display: inline-block;
  clear: both;
  padding: 0.5rem;
  margin: 0.25rem;
  float: left;
}

.cooking-hero > .timer {
  font-size: 24px;
}

.cooking-hero > .title {
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
}



.eating-hero {
  height: 300px;
  background-size: cover;
  line-height: 1.4;
  vertical-align: middle;
}

.eating-hero .controls {
  display: block;
  clear: both;
}

.eating-hero > .controls > span,
.eating-hero > h1 {
  text-align: left;
  background-color: black;
  color: #fff; 
  display: block;

  float:left;
  padding: 0.5rem;
}

.eating-hero > .controls > span {
  font-size: 24px;
  margin: 0.125rem;
}

.eating-hero > .title {
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
}


/* Idk ugly hack */
* {
    font-size: max(1em, 12px);
}





.label {
  display: inline;
  padding: .2em .6em .3em;
  /*font-size: 75%;*/
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label.primary {
      background-color: #337ab7;
}

.popup {
  background-color: white!important; /* stop opaque popups */
}

h3 {
  /*font-family: 'Helvetica Neue';*/
  font-weight: 300!important;
}

.nopad {
  padding: 0;
}



.mini-avatar {
  display: inline-block;
}



.meal-card-header 
{
      border-color: #111;
    background-color: #444444;
    background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
    color: #fff;
}

.profile img {
  display: block;
  width: 100%;
  padding: 0;
}


/* https://pixabay.com/api/docs/
*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

.view-welcome .welcome-background {
  height: 100%;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/img/flatdinner.jpg);
  background-size: cover;
      background-position-x: -93px;
    background-position-y: 0em;
}

.welcome-banner {
  /* horizontally and vertically  */
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-banner header {
  text-align: center;
}
.welcome-banner header h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
  color: white!important;
  font-family: 'Source Sans Pro', sans-serif!important;
  font-weight: 900;
}
.welcome-banner header p {
  margin: 0;
  font-size: 1.5rem;
  color: white!important;
  font-family: 'Source Sans Pro', sans-serif!important;
}






/* Errors */
label.item.has-error {  
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {  
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {  
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}