.nopad {
  padding: 0;
}



.mini-avatar {
  display: inline-block;
}



.meal-card-header 
{
      border-color: #111;
    background-color: #444444;
    background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
    color: #fff;
}

.profile img {
  display: block;
  width: 100%;
  padding: 0;
}


/* https://pixabay.com/api/docs/
*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

.view-welcome .welcome-background {
  height: 100%;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/img/flatdinner.jpg);
  background-size: cover;
      background-position-x: -93px;
    background-position-y: 0em;
}

.welcome-banner {
  /* horizontally and vertically  */
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-banner header {
  text-align: center;
}
.welcome-banner header h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
  color: white!important;
  font-family: 'Source Sans Pro', sans-serif!important;
  font-weight: 900;
}
.welcome-banner header p {
  margin: 0;
  font-size: 1.5rem;
  color: white!important;
  font-family: 'Source Sans Pro', sans-serif!important;
}









/* Errors */
label.item.has-error {  
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {  
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {  
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}